@import '_global';



html, body {
    x-overflow: none;
}

//Homepage
 .homePageRender {
    height: 100%;
    width: 100%;
    position: absolute;
    letter-spacing: 1px;
    .background-video {
    	// background-image: url(../assets/images/m-bg-2.png);
        // background-size: cover;
        // background-repeat: no-repeat;
        // height: 100%;
        // background-position: center;
        // background-attachment: fixed;
        height: 100vh;
        position: relative;
        overflow: hidden;
        #myVideo {
          position: fixed;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -1000;
          overflow: hidden;
        }
        .background-text {
        	width: 480px;
    	    display: block;
            top: 50%;
            left: 50%;
            text-align: center;
            position: absolute;
            transform: translate(-50%, -50%);
    	    // margin: 0px auto;
    	    // padding: 260px 0;
        	h1, h3 {
      			color: #fff;
      			font-family: 'Poppins', sans-serif;
            width: 100%;
            font-weight: 600;
            text-shadow: 0px 2px 20px #000;
    		  }
          h3 {
            margin-bottom: 40px;
          }
          a.button {
                color: #fff;
                background-color: #1bbc9b;
                padding: 10px 30px;
                border-style: none;
                border-radius: 15px;
                margin: 40px 0 0 0;
                letter-spacing: 1px;
                transition: 0.25s all;
                &:hover {
                    background-color: #159981;
                    text-decoration: none;
                    -webkit-box-shadow: 0px 5px 15px -4px rgba(8,7,8,1);
                    -moz-box-shadow: 0px 5px 15px -4px rgba(8,7,8,1);
                    box-shadow: 0px 5px 15px -4px rgba(8,7,8,1);
                }
            }
        }
        .view-more {
          color: #fff;
          position: absolute;
          bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          text-shadow: 0px 2px 20px #000;
          i {
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 3px;
          }
        }
        @include breakpoint(medium) {
            height: 75%;
        }
        @include breakpoint(small) {
            background-image: url(../assets/images/mobile-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 50%;
            .background-text {
                h1 {
                    font-size: 25px;
                }
            }
        }
    }

    //Featured Languages
    .featured-section {
        background-color: #f2f4f7;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            height: 60px;
            @include breakpoint(medium){
                margin: 0 0 20px 0;
            }
        }
        @include breakpoint(small) {
            // padding: 40px 131px;
            display: none;
        }
    }

    //About Section
    .about-section {
        background: #1bbc9b;
        color: #fff;
        text-align: center;
        padding: 30px 180px;
        position: relative;
        >div {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
        }
        img{
            width: 120px;
            border-radius: 50%;
            transition: 0.25s all;
        }
        p {
            margin: 0;
        }
        @include breakpoint(small) {
            padding: 30px 20px;
            >div {
                display: block;
                width: 100%;
                img {
                    margin-bottom: 20px;
                }
            }
        }
    }

    //Featured Projects
    .featuredProjects {
        height: 700px;
        a.project {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            transition: all 0.5s ease;
            &:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8){
                background: #f9f9f9;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7){
                background: #fcfcfc;
            }
            @include breakpoint(smallnarrow){
                height: 50%;
                width: 100%;
                &:nth-child(1), &:nth-child(3){
                    background: #f9f9f9;
                }
                &:nth-child(2), &:nth-child(4){
                background: #fcfcfc;
            }
            }
            img {
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                transition: all 0.5s ease;
                &.weststar-logo, &.kasasa-logo {
                    width: 256px;
                }
                @include breakpoint(medium){
                    max-width: 75%;
                }
                @include breakpoint(smallnarrow){
                    max-width: 50%;
                }
            }
            .summary {
                background: rgba(21,153,129, 0.3);
                position: absolute;
                width: 100%;
                height: 100%;
                display: none;
                p {
                    color: #fff;
                    // text-shadow: 1px 1px 5px #7f7f7f;
                    font-size: 15px;
                    text-decoration: none;
                    text-align: center;
                    position: absolute;
                    margin: 0 auto;
                    width: 100%;
                    padding: 10px 30px;
                    &.role {
                        top: 10%;
                    }
                    &.description {
                        bottom: 10%;
                    }
                }
            }
            &:hover {
                img{
                    transform: scale(.95);
                }
                .summary {
                    display: block;
                }
            }
        }
        @include breakpoint(medium) {
            height: 600px;
        }
        @include breakpoint(small) {
            height: 500px;
            a.project {
                &:hover {
                    .summary{
                        display: none;
                    }
                }
            }
        }
    }


    //FORM SECTION
    .form-section {
        background: #fff;
        color: #159981;
        text-align: center;
        float: left;
    }


    //Footer
    .footer {
        background: #159981;
        height: 100px;
        width: 100%;
        float: left;
        position: relative;
        p, a {
            color: #fff;
            font-family: 'Poppins', sans-serif;
        }
        .contactSocial{
            width: 100%;
            .contactInfo {
                text-align: left;
                margin: 36px 0 0 0;
                p {
                    display: inline-block;
                    margin: 0 15px 0 40px;
                    font-size: 20px;
                }
                a {
                    font-size: 20px;
                }
                @include breakpoint(small){
                    text-align: center;
                    margin: 25px 0 15px 0;
                    p {
                        margin: 0;
                        display: block;
                        margin: 0 0 15px;
                    }
                }
            }
            .social {
                float: right;
                margin: 33px 0 0 0;
                a {
                    margin: 0 50px 0 0;
                    font-size: 20px;
                    i {
                        color: #06327a;
                        font-size: 35px;
                        transition: 0.25s all;
                        &:hover {
                            color: #1bbc9b;
                        }
                    }
                }
                @include breakpoint(small){
                    float: none;
                    display: block;
                    margin: 20px auto;
                    width: 275px;
                    a {
                        margin: 0 25px 0 35px;
                    }
                }
            }
            @include breakpoint(small){
                margin: 0 0 20px 0;
            }
        }
        .copyright {
            position: absolute;
            bottom:29px;
            margin: 0 0 0 40px;
            font-size: 12px;
            a {
                color: #06327a;
                transition: 0.25s all;
                &:hover {
                    color: #1bbc9b;
                    text-decoration: none;
                }
            }
            @include breakpoint(small){
                text-align: center;
                margin: 0;
                bottom: 10px;
                position: relative;
            }
        }
    }


    //Testimonial Section
    .testimonial-section {
        padding: 50px 0;
        float: left;
        width: 100%;
        .testimonial {
            display: block;
            width: 500px;
            margin: 0 auto 100px;
            &:last-of-type {
                margin-bottom: 0;
            }
            p {
                font-size: 16px;
                line-height: 1.5;
                &.name {
                    font-weight: bold;
                    text-align: right;
                }
            }
            .quote {
                color: #1bbc9b;
                font-size: 35px;
                margin: 10px 0;
                &.right {
                    float: right;
                    margin: 0;
                }
            }
        }
        @include breakpoint(small) {
            .testimonial {
                width: 75%;
            }
        }
    }


}



.noMobile {
    display: block !important;
    @include breakpoint(small) {
        display: none !important;
    }
}
.mobile {
    display: none !important;
    @include breakpoint(small) {
        display: block !important;
    }
}
