/*
* Skeleton-SASS V1.0
* Copyright 2012 by Michael Lazer-Walker
* https://github.com/lazerwalker/Skeleton-Sass
*
* Based off of Skeleton v1.1:
* https://github.com/dhgamache/Skeleton
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* #Variable Definitions
================================================== */
/* Grid
================================================== */
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
.homePageRender {
  height: 100%;
  width: 100%;
  position: absolute; }
  .homePageRender .background-image {
    background-image: url(../assets/images/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    position: relative; }
    .homePageRender .background-image .background-text {
      width: 460px;
      display: block;
      top: 50%;
      left: 50%;
      text-align: center;
      position: absolute;
      transform: translate(-50%, -50%); }
      .homePageRender .background-image .background-text h1 {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        width: 100%; }
      .homePageRender .background-image .background-text button {
        color: #fff;
        background-color: #1bbc9b;
        padding: 10px 30px;
        border-style: none;
        border-radius: 15px;
        margin: 40px 0 0 0; }
        .homePageRender .background-image .background-text button:hover {
          background-color: #159981; }
    @media only screen and (max-width: 959px) {
      .homePageRender .background-image {
        height: 75%; } }
    @media only screen and (max-width: 767px) {
      .homePageRender .background-image {
        height: 50%; }
        .homePageRender .background-image .background-text h1 {
          font-size: 25px; } }
  .homePageRender .featured-section {
    background-color: #f2f4f7;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .homePageRender .featured-section img {
      height: 60px; }
      @media only screen and (max-width: 959px) {
        .homePageRender .featured-section img {
          margin: 0 0 20px 0; } }
    @media only screen and (max-width: 767px) {
      .homePageRender .featured-section {
        padding: 40px 131px; } }
  .homePageRender .featuredProjects {
    height: 700px; }
    .homePageRender .featuredProjects a.project {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      transition: all 0.5s ease; }
      .homePageRender .featuredProjects a.project:nth-child(1), .homePageRender .featuredProjects a.project:nth-child(4) {
        background: #f9f9f9; }
      .homePageRender .featuredProjects a.project:nth-child(2), .homePageRender .featuredProjects a.project:nth-child(3) {
        background: #fcfcfc; }
      @media only screen and (max-width: 479px) {
        .homePageRender .featuredProjects a.project {
          height: 50%;
          width: 100%; }
          .homePageRender .featuredProjects a.project:nth-child(1), .homePageRender .featuredProjects a.project:nth-child(3) {
            background: #f9f9f9; }
          .homePageRender .featuredProjects a.project:nth-child(2), .homePageRender .featuredProjects a.project:nth-child(4) {
            background: #fcfcfc; } }
      .homePageRender .featuredProjects a.project img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        transition: all 0.5s ease; }
        @media only screen and (max-width: 959px) {
          .homePageRender .featuredProjects a.project img {
            max-width: 75%; } }
        @media only screen and (max-width: 479px) {
          .homePageRender .featuredProjects a.project img {
            max-width: 50%; } }
      .homePageRender .featuredProjects a.project .summary {
        background: rgba(21, 153, 129, 0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        display: none; }
        .homePageRender .featuredProjects a.project .summary p {
          color: #fff;
          text-decoration: none;
          text-align: center;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          padding: 10px 30px; }
          .homePageRender .featuredProjects a.project .summary p.role {
            top: 10%; }
          .homePageRender .featuredProjects a.project .summary p.description {
            bottom: 10%; }
      .homePageRender .featuredProjects a.project:hover img {
        transform: scale(0.95); }
      .homePageRender .featuredProjects a.project:hover .summary {
        display: block; }
    @media only screen and (max-width: 959px) {
      .homePageRender .featuredProjects {
        height: 600px; } }
    @media only screen and (max-width: 767px) {
      .homePageRender .featuredProjects {
        height: 500px; }
        .homePageRender .featuredProjects a.project:hover .summary {
          display: none; } }
  .homePageRender .footer {
    background: #159981;
    height: 100px;
    width: 100%;
    float: left;
    position: relative; }
    .homePageRender .footer p, .homePageRender .footer a {
      color: #fff;
      font-family: 'Poppins', sans-serif; }
    .homePageRender .footer .contactSocial {
      width: 100%; }
      .homePageRender .footer .contactSocial .contactInfo {
        text-align: left;
        margin: 36px 0 0 0; }
        .homePageRender .footer .contactSocial .contactInfo p {
          display: inline-block;
          margin: 0 15px 0 40px;
          font-size: 20px; }
        .homePageRender .footer .contactSocial .contactInfo a {
          font-size: 20px; }
        @media only screen and (max-width: 767px) {
          .homePageRender .footer .contactSocial .contactInfo {
            text-align: center;
            margin: 25px 0 15px 0; }
            .homePageRender .footer .contactSocial .contactInfo p {
              margin: 0;
              display: block;
              margin: 0 0 15px; } }
      .homePageRender .footer .contactSocial .social {
        float: right;
        margin: 33px 0 0 0; }
        .homePageRender .footer .contactSocial .social a {
          margin: 0 50px 0 0;
          font-size: 20px; }
          .homePageRender .footer .contactSocial .social a i {
            color: #06327a;
            font-size: 35px; }
            .homePageRender .footer .contactSocial .social a i:hover {
              color: #1bbc9b; }
        @media only screen and (max-width: 767px) {
          .homePageRender .footer .contactSocial .social {
            float: none;
            display: block;
            margin: 20px auto;
            width: 270px; }
            .homePageRender .footer .contactSocial .social a {
              margin: 0 25px 0 35px; } }
      @media only screen and (max-width: 767px) {
        .homePageRender .footer .contactSocial {
          margin: 0 0 20px 0; } }
    .homePageRender .footer .copyright {
      position: absolute;
      bottom: 29px;
      margin: 0 0 0 40px;
      font-size: 12px; }
      .homePageRender .footer .copyright a {
        color: #06327a; }
        .homePageRender .footer .copyright a:hover {
          color: #1bbc9b;
          text-decoration: none; }
      @media only screen and (max-width: 767px) {
        .homePageRender .footer .copyright {
          text-align: center;
          margin: 0;
          bottom: 10px;
          position: relative; } }
